{% load static %}
<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="Eoncci宜叁集 洗衣共享">
    <meta name="author" content="ouYong">

    <title>Eoncci宜叁集 洗衣共享</title>
    <link href="{% static 'assets/css/application.css' %}" rel="stylesheet">
    <link href="{% static 'assets/img/logo.png' %}" rel="shortcut icon">
  </head>
  <body class="index" id="to-top">

    <nav class="side-nav" role="navigation">

      <ul class="nav-side-nav">
        <li><a href="#section-1" data-toggle="tooltip" title="特色" data-placement="left"></a></li>
        <li><a href="#section-2" data-toggle="tooltip" title="价格" data-placement="left"></a></li>
        <!-- <li><a href="#section-3" data-toggle="tooltip" title="洗衣机介绍" data-placement="left"></a></li> -->
        <li><a href="#to-top" data-toggle="tooltip" title="返回顶部" data-placement="left"></a></li>
      </ul>
      
    </nav> 

    <header class="jumbotron" role="banner">

      <div class="container">

        <div class="row">

          <div class="col-md-7">

            <!-- Logo -->
            <figure class="text-center">
              <a href="{% url 'index' %}">
                <img class="img-logo" src="{% static 'assets/img/logo.png' %}" alt="Eoncci">
              </a>
            </figure> 

            <!-- Title -->
            <h1>Eoncci洗衣共享</h1>

            <!-- Sub title -->
            <p>免费预约租凭洗衣机</p>

            <!-- Button -->
            <p>
              <a class="btn btn-danger" href="#section-1">了解更多</a>
            </p> <!-- /.btn-app-store -->

          </div> <!-- /.col-md-7 -->

          <div class="col-md-5">

            <!-- Images showcase -->
            <figure>
              <img class="img-iPhone" src="{% static 'assets/img/1.jpg' %}" alt="出租洗衣机啦~">
            </figure>

          </div> <!-- /.col-md-5 -->
          
        </div> <!-- /.row -->
        
      </div> <!-- /.container -->

    </header> <!-- /.jumbotron -->



    <!-- Services -->
    <section class="services-section" id="section-1">

      <div class="container">

        <div class="row">

          <div class="col-md-4 col-services">
            <figure>
              <img class="img-services" src="{% static 'assets/img/flag.png' %}" alt="卫生">
            </figure>
            <h4>卫生</h4>

          </div> 

          <div class="col-md-4 col-services">
            
            <figure>
              <img class="img-services" src="{% static 'assets/img/search.png' %}" alt="价格">
            </figure>

            <!-- Title -->
            <h4>服务</h4>

            <!-- Description -->
            <p>-定期清洁服务</p>            
            <p>-上门维修服务</p>
            <p>-大物件代洗家政服务</p>

          </div> <!-- /.col-md-4 -->

          <div class="col-md-4 col-services">
            
            <!-- Icons -->
            <figure>
              <img class="img-services img-margin" src="{% static 'assets/img/world-map.png' %}" alt="设备">
            </figure>

            <!-- Title -->
            <h4>设备</h4>

            <!-- Description -->
            <p>优秀的洗衣机资源</p>
            <p>-我们的洗衣机均收购于 学生宿舍</p>
            <p>-使用时间低于两年</p>
            <p>-经专业人士检测评估仍可长期正常运行（一般全自动洗衣机的寿命为10年）</p>

          </div> <!-- /.col-md-4 -->
          
        </div> <!-- /.row -->
        
      </div> <!-- /.container -->
      
    </section> <!-- /.services-section -->




    <!-- Features -->
    <section class="features-section" >

      <div class="container">

        <div class="row" id="section-2">

          <div class="col-md-5 col-features text-center">
            
            <!-- Images showcase -->
            <figure><img class="img-iPhone" src="{% static 'assets/img/2.jpg' %}" alt="洗衣机展示图"></figure>

          </div> <!-- /.col-md-5 -->

          <div class="col-md-7 col-features features-content">
            
            <!-- Title -->
            <h3 id="title-1">租赁价格</h3>

            <!-- Description -->
            <p>需交付押金200元</p>
            <p>一年100元</p>
            <p>两年180元（90元/年）</p>
            <p>三年255元（85元/年）</p>
            <p>四年320元（80元/年）</p>

            <p>
              <a class="btn btn-danger" href="{% url 'order' %}">立即免费预约</a>
            </p>
            <p>
              <a class="btn btn-danger" href="http://wpa.qq.com/msgrd?v=3&uin=2937564428&site=qq&menu=yes" target="_blank">在线咨询</a> &nbsp;
              <a class="btn btn-danger-border" href="tel:13295105970">呼叫客服</a>
            </p>

            <p>
              <strong>客服热线</strong> 
              <br>132-9510-5970
            </p>

          </div> <!-- /.col-md-7 -->
          
        </div> <!-- /.row -->




        <div class="row media-screen-800 text-center" id="section-3">

          <div class="col-features features-content">
            <h3 id="title-2">详细介绍</h3>
          </div>

          <div class="row col-features ">
            
            <h4>卫生</h4>
            <p>-从洗衣机厂家特别聘请专业清洁人员</p>
            <p>-高效灭菌清洁维护</p>
            <p>-洁净如新</p>
              
            <h4>服务</h4>
            <p>-定期清洁服务</p>            
            <p>-上门安装,维修服务</p>
            <p>-大物件代洗家政服务</p>
            <p>-在合同到期后,专人上门将洗衣机回收</p>
            
            <h4>设备</h4>
            <p>优秀的洗衣机资源</p>
            <p>-精选 小天鹅，美的，TCL，海尔 等大众品牌</p>
            <p>-我们的洗衣机均收购于 学生宿舍</p>
            <p>-每台洗衣机的容量均不低于5.5KG, 最适合家用及宿舍用</p>
            <p>-使用时间低于两年</p>
            <p>-经专业人士检测评估仍可长期正常运行（一般全自动洗衣机的寿命为10年）</p>

          </div>
          
        </div>

      </div>

    </section> <!-- /.features-section -->


    <!-- Footer -->
    <footer class="text-center" role="contentinfo">

      <div class="container">

        <div class="row col-footer">
            
            <!-- Footer 1 -->
            <section>
              <p><a href="http://weibo.com/u/6280542508" target="_blank">Eoncci宜叁集</a>官方微博</p>
            </section>

            <!-- AddThis Button -->
            <ul class="addthis_toolbox">

              <li><a href="http://weibo.com/u/6280542508"><img src="{% static 'assets/img/WB.png' %}" alt="Weibo"></a></li>

            </ul> <!-- /.addthis_toolbox -->

          
        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </footer> <!-- /.footer-section -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/application.js' %}"></script>

</body></html>