{% load static %}
<!DOCTYPE html>
<html lang="zh_cn">

<head>

  <!-- Meta -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Eoncci宜叁集 洗衣共享">
  <meta name="keywords" content="Eoncci宜叁集 洗衣共享">
  <meta name="author" content="ouYong">

  <!-- Title -->
  <title>Eoncci宜叁集 洗衣共享 预约</title>
  <link href="{% static 'assets/css/sweetalert.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/application.css' %}" rel="stylesheet">
  <link href="{% static 'assets/img/logo.png' %}" rel="shortcut icon">
</head>

<body class="sign-in-up" id="to-top">

  <!-- Sign In/Sign Up section -->
  <section class="sign-in-up-section">

    <div class="container">

      <div class="row">

        <div class="col-md-12">

          <!-- Logo -->
          <figure class="text-center">
            <a href="{% url 'index' %}"><img class="img-logo" src="{% static 'assets/img/logo.png' %}" alt=""></a>Eoncci宜叁集 洗衣共享
          </figure>
          <!-- /.text-center -->

        </div>
        <!-- /.col-md-12 -->

      </div>
      <!-- /.row -->




      <section class="sign-in-up-content">

        <div class="row">

          <div class="col-md-12">

            <h4 class="text-center">请填写信息</h4>


            <form class="sign-in-up-form" role="form" action="wm_order" method="post" id="signform">
              {% csrf_token %}

              <div class="form-group">
                <input type="text" class="form-control" name="tel" id="tel" placeholder="请输入电话号码">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="请输入姓名">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="address" id="address" placeholder="请输入地址，例如：文荟XXX栋XXX号">
              </div>
              <div class="form-group">
                <p>请选择租赁时间：</p>
                <select class="form-control" name="product">
                  <option value="1">一年：￥100</option>
                  <option value="2">两年：￥180（￥90/年）</option>
                  <option value="3">三年：￥255（￥85/年）</option>
                  <option value="4">四年：￥320（￥80/年）</option>
                </select>
              </div>
              <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" name="code" id="code" placeholder="手机验证码">-->
              <!--</div>-->
              <!-- Button -->
              <button class="btn btn-success btn-block" type="submit">预约</button>

              <!-- <section class="text-center">
                <div class="checkbox">
                  <label>
                      <input type="checkbox" checked=""> 请确保已阅读：<a href="#fakelinks">租赁条约</a>
                  </label>
                </div>
              </section> -->

              <section class="sign-in-up-links text-center">
                <p>已经预约过了？ <span class="sep">–</span> <a href="{% url 'status' %}">查看申请状态</a></p>
              </section>


              <section class="text-center">

                <p>请放心.<br> 我们不会泄露您的任何信息 :)</p>

              </section>
            </form>

          </div>
          <!-- /.col-md-12 -->

        </div>
        <!-- /.row -->

      </section>
      <!-- /.sign-in-up-content -->



    </div>
    <!-- /.container -->

  </section>
  <!-- /.sign-in-up-section -->


  <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/sweetalert.min.js' %}"></script>
  <script src="{% static 'assets/js/application.js' %}"></script>
</body>

</html>